<a href="https://colab.research.google.com/github/jtwang1027/business_analysis/blob/master/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple linear regression on a year's worth of sales data to predict Gross Sales

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from math import sqrt

In [0]:
data1=pd.read_csv('/content/drive/My Drive/feb_2020-dataset.csv')

The data has been preprocessed with day of week one hot encoded as well month, date, and year separated into their own columns. The Gross Sales reflect the cumulative sales generated in that hour.

In [10]:
data1.sample(10)

      Hour  Gross Sales  Friday  Monday  ...  Wednesday  Month  date  Year
1753    22        35.25       0       0  ...          1      5    29  2019
1988    17        41.74       0       0  ...          1      6    19  2019
872     18        71.15       0       0  ...          0      3    17  2019
344     16        71.78       0       0  ...          0      1    31  2019
3553    21        59.95       0       0  ...          1     10    30  2019
99      23         3.95       1       0  ...          0      1    11  2019
495     21        39.62       0       0  ...          1      2    13  2019
2896    17       213.02       1       0  ...          0      9     6  2019
2176    20       111.73       0       0  ...          0      7     6  2019
4104    12        89.16       0       0  ...          0      1    14  2020

[10 rows x 12 columns]

In [0]:
y=data1['Gross Sales'] 
X= data1.drop(['Gross Sales'],axis=1)
X=X.reindex(sorted(X.columns),axis=1) #put in alphabetical order

# Split the data into training and testing sets
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.25, random_state = 42)

In [0]:
reg=linear_model.LinearRegression() #instantiate model
reg.fit(xtrain, ytrain) #fit model on training data

y_pred=reg.predict(xtest) #generate prediction

In [16]:
mse=sqrt(mean_squared_error(ytest, y_pred))
f'RMSE: ${round(mse,2)}'

'RMSE: $47.52'

It is worth noting that the time-dependent nature of this data. So a random split of the whole dataset is *cheating*. It'd be better to split the data into *past* and *future*, and train it on the past and evaluate it on the future.